body{
    background : #e9e8e6;}

 *{margin:0; padding:0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';}
.clearfix{clear:both;}

.main{
    display: flex;
    height: 100%;
    width: 900px;
    padding: 10px;
    background: linear-gradient(183deg, #3423ad, #8c1c89);
    margin: 20px, auto;
}
.left-section{
    width: 310px;
    height: 100%;
    background: #ffffff21;
    padding: 5px 20px;
    border-radius: 5px;
    float: left;
    }

.name{
    font-size: 25px;
    color: white;
    margin-top: 10px;
    font-weight: 100;
    font-weight: bolder;
}

.d_p{
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
}

.profile{
    background: #ffffff21;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;   
}

h2{
    color: white;
    letter-spacing: 2px;
}

.about_p{
    text-align: justify;
    font-size: 15px;
    color: white;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.right-section{
    margin-left: 10px;
    width: 540px;
    height: 1179.3;
    background: #ececec;
    padding: 5px 20px;
    border-radius: 5px;
    float: left;
}
.p_h{
    margin-top: 20px;
    background: #ffffff3b;
    padding: 15px;
    border-radius: 20px;
    padding-left: 20px;
}
.bx{font-size: 20px;padding-right: 10px; vertical-align: bottom;}

.l_p{
    margin-top: 16.5px;
    color: white;
    margin-bottom: 10px;
    position: relative;
    }
.circle1, .circle2, .circle3, .circle4,.circle5 {
    width: 18px;
    height: 18px;   
    background: white;
    border: 1px solid white;
    position: absolute;
    border-radius: 50Px;
}

.circle1{left: 100px} 
.circle2{left: 144px} 
.circle3{left: 184px}
.circle4{left: 224px}
.circle5{left: 264px}

.content{
    padding: 5px;
    padding-bottom: 0px;
}

.lang{
    margin-top: 20px;
}
h3{
    background: linear-gradient(#60358e, #5a3293);
    padding: 5px 15px;
    text-align: right;
    width: 180px;
    height: fit-content;
    border-radius: 21px;
    color: white;
    letter-spacing: 2px;
    font-weight: 400;
    padding-left: 25px;
    position: relative;
    margin-top: 15px;
}
h3::after{
content: "";
position: absolute;
top: 22px;
height: 2px ;
width: 300px;
background: #57358b;
    }

.hire-year{
display: flex;
justify-content: space-between;
}

img{
    width: 55px;
}

.icon_skills{
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;    
    column-gap: 60px;
    row-gap: 20px;
    margin-bottom: 10px;
}
.conten-inner{
    padding: 10px;
    margin-top: 10px;
}
h4{
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.para{
    font-size: 15px;
    letter-spacing: 0.5px;    
    margin-top: 5px;
    text-align: justify;
}

.icon_cert{    
    margin-top: 10px; 
    font-size: 15px;
    letter-spacing: 0.5px; 
}

.cert{
margin: 6px;
}